/* Global styles */

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    font-weight: 300;
    margin: 0;
}

/* Heading styles */

h1, h2, p {
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 5rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 3.75rem;
    margin-bottom: 30px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    border-style: solid none;
    padding: 30px 0;
}

h3  {
    font-size: 2.25rem;
    font-weight: 900;
    margin: 0;
}

/* Text styles */

.secondary-text, .name, time {
    color: #99D930;
    font-weight: 900;
}

.secondary-text {
    display: block;
}

.small-text {
    font-size: 1rem;
    margin: 10px 0 20px;
}

/* Container and layout styles */

.content-container {
    padding: 100px 0;
}

.dark {
    background-color: #252525;
    color: #FFF;
}
.section-container {
    width: 570px;
    margin: 0 auto;

}

/* Links */

a {
    color: #99D930;
    font-weight: 900;
}

a:hover {
    color: #131313;
}

.btn {
    background-color: #99D930;
    color: #252525;
    font-weight: 900;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

.btn:hover, .btn:focus {
    color: #fff;
    background-color: #252525;
}

.dark .btn:hover, .dark .btn:focus {
    color: #252525;
    background-color: #fff;
}
